<!doctype html>
    <html>
  <head>
       <body>
<title>FTS GPX Player</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
<h2>FreeTAKServer GPX File Player</h2>
<h4>Upload a GPX File</h4>
<form method="post" action="/gpx" enctype="multipart/form-data">
    <dl>
		<p>
            <label for="callsign">Callsign:</label><br>
            <input type="text" id="callsign" name="callsign" required><br>
            <label for="cot_type">CoT Type:</label><br>
            <input type="text" id="cot_type" name="callsign" value="a-f-G-U-C" required><br>
            <label for="kph">Speed (Km/h):</label><br>
            <input type="number" id="kph" name="kph" required><br>
            <label for="gap">Max plot gap (Secs):</label><br>
            <input type="number" id="gap" name="gap" required><br>
            <label for="server">TAK Server Address:</label><br>
            <input type="text" id="server" name="server" required><br>
            <label for="gpx">Gpx File:</label><br>
            <input type="file" accept=".gpx" name="file" id="gpx" autocomplete="off" required></br>

		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
<br>
</form>
   </body>
</html>